/* Select all elements with tag 'img' */
img {
    height:200px;
    width:200px;
}

/* Select element with same class name using .*/
.Red{
    color:red;
}

.BGcolor{
    color: white;
    background-color: black;
}

.Size{
    font-size: 20px;
}

.strokeWeight{
    font-size: 20px;
    font-weight: bold;
}

/* Select element with individual id name using # */
# pinkID{
    color:pink;
}
